@import "mixins";

.suggestionBottom {
    width: 915px;
    margin: 0 auto;
    margin-top: 50px;
}

.articleWrapper {
    width: 915px;
    margin: 0 auto;
    margin-top: 50px;
}

.thumbBoxWithDesList:not(:last-child:first-child)  {
    width: 100%;
    overflow: hidden;
    @include desktop() {
        width: 50%;
        height: 50vh;
        float: left;
        padding: 0 .5rem 0 0;
        img {
            display: block;
        }
    }
}

.thumbBoxDes {
    height: 5rem;
    width: 98%;
    font-weight: 300;
    font-size: clamp(1rem, 12px , 2rem);
    margin-bottom: 3rem;

    @include desktop() {
        min-height: 20rem;
        font-size: clamp(0.5rem, 0.8vw , 2rem);
        width: 98%;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.thumbBoxTable {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    list-style: none;
}

.thumbBoxList:not(:last-child:first-child)  {
    width: 100%;
    @include desktop() {
        width: 25%;
        float: left;
        padding: 0 .5rem 0 0;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

.thumbBox3List:not(:last-child:first-child)  {
    width: 100%;
    @include desktop() {
        width: 33.33%;
        float: left;
        padding: 0 .5rem 0 0;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

.thumbBox {
    text-decoration: none;
    color: black;
}

.thumbBox:hover {
    text-decoration: none;
    color: gray
}

.thumbBoxImage {
    width: 100%;
    @include desktop() {
    min-width: 25vw;
    max-width: 33%;
    min-height: 15vw;
    max-height: 15vw;
    }
}

.thumbBoxDesImage {
    width: 100%;
    @include desktop() {
        min-width: 25vw;
        max-width: 33%;
        min-height: 10vw;
        max-height: 13vw;
    }
}

.capitalize {
    text-transform: capitalize
}

.thumbBoxTitle {
    height: 3.5rem;
    width: 98%;
    font-weight: 600;
    font-size: clamp(1rem, 1vw , 1.1rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    @supports (-webkit-line-clamp: 3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.thumbBoxLargeImage {
    @include desktop() {
    height: 25rem;}
    
}
.thumbBoxLargeTitle {
    margin-top: 5vh;
}
.thumbBoxLargeDescription {
    margin-top: 5vh;
}